@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  margin: 0;
  background-color: #006880;
  color: #E4F2F5;
  text-align: center;
  padding: 0.5em 0;
  font-size: 0.9em;
}
header {
  margin-bottom: 1em;
}
footer {
  margin-top: 2em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sawarabi Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #E4F2F5;
  color: #006880;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #006880;
}

#root {
  position: relative;
  width: 100vw;
  overflow-x:scroll;
}

.contents-header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.back-button,
.go-button {
  text-align: center;
  width: 15%;
  font-size: 2em;
}

.menu-button:disabled {
  color: #808080;
  border-color: #808080;
}

.common-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #006880;
  border-left-width: 10px;
  color: #006880;
}

@media screen and (min-width: 750px) {
  main {
    width: 450px;
    margin: 0 auto;
  }
}